/* Colors*/
colors {
  color: #181715;
  color: #efefef;
  color: #00a1ff;
  color: #0a3641;
  color: #bf1f3c;
  color: #0a1f3c;
}

@font-face {
  font-family: "Rockwell";
  src: url(../Fonts/ROCK.TTF);
}

Html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/* Header and footer */
.resize {
  max-width: 300px;
  max-height: 140px;
}

nav {
  display: none;
  position: absolute;
  background-color: #bf1f3c;
  text-align: center;
  top: 150px;
  right: 0px;
  z-index: 100;
}

.hamburger-menu {
  position: absolute;
  right: 20px;
  top: 20px;
  margin-top: 16px;
  height: 37px;
}

li {
  display: block;
  text-decoration: none;
  font-size: 16px;
  padding: 50px;
  z-index: 100;
}

li a {
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
}

.font {
  font-size: 32px;
}

.font:hover {
  text-decoration: underline;
  color: #00a1ff;
}

#nav-menu:checked ~ nav {
  display: block;
}

#nav-menu {
  display: none;
}

.nav-bar {
  margin-top: 16px;
  margin-right: 32px;
}

.nav-bar li:hover {
  color: #00a1ff;
}

header {
  display: flex;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-top: 40px;
}

header,
footer {
  background-color: #bf1f3c;
  color: #0a1f3c;
}

footer {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px 25px;
  font-size: 25px;
  font-family: Arial;
  font-weight: bolder;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: #00a1ff;
}

.logodivider {
  width: 2px;
  height: 80px;
  background-color: white;
  margin-left: 20px;
  margin-top: 30px;
}

.logo {
  display: flex;
}

.homeicon {
  font-size: 50px;
  color: white;
  padding-left: 25px;
}

.homeicon:hover {
  color: #00a1ff;
}

.search-button:hover {
  color: #00a1ff;
}

.cart {
  font-size: 50px;
  color: white;
}

.cart:hover {
  color: #00a1ff;
}

.cart-pos {
  margin-right: 40px;
  margin-top: 4px;
}

.header-h1 {
  text-align: center;
  font-family: "Rockwell";
  font-size: 60px;
  margin: 0px;
  padding: 50px;
  color: #0a1f3c;
}

/* background of the page */

.background {
  background-image: url("../images/joshua-earle--87JyMb9ZfU-unsplash\ 1920x1280.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1000px;
  background-position: center;
  position: relative;
}

/* main content */

.alert {
  padding: 30px;
  background-color: darkred;
}

.Home-container {
  display: grid;
  grid-template-columns: 500px 500px;
  justify-content: center;
  gap: 100px;
  margin-top: 100px;
}

.men-div-margin {
  margin-bottom: 100px;
}

.products-text {
  text-decoration: none;
}

.product-pic-home {
  width: 100%;
  max-height: 400px;
  max-width: 600px;
}

.product-pic-home-w {
  width: 100%;
}

.home-products h2 {
  display: flex;
  justify-content: center;
  font-family: "Rockwell";
  text-decoration: none;
  color: #bf1f3c;
  font-size: 35px;
}

.enter-cta {
  gap: 50px;
  padding: 25px;
  border-radius: 20px;
  background-color: #bf1f3c;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}
/* styling search bar */
.Search input {
  width: 500px;
  height: 50px;
  border-radius: 15px;
  border: 2px;
  padding-left: 20px;
}

.Search {
  border: 2px black;
}

.Search button {
  background-color: transparent;
  color: #0a1f3c;
  position: relative;
  top: 10px;
  left: -61px;
  font-size: 30px;
  border: 20px;
  cursor: pointer;
}

/* Contact page & About page */

.logo-styling {
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin-top: 25px;
}

.h1-styling {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #0a3641;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  max-width: 500px;
}

ul li {
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.p-styling {
  display: flex;
  justify-content: center;
  max-width: 500px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bolder;
}

.about-styling {
  display: grid;
  justify-content: center;
}

/* Contact form */

.form-container {
  max-width: 850px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.form {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
}

input {
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  font-size: 18px;
}
.message-box {
  max-height: 200px;
}

.message {
  display: block;
  margin-top: 25px;
}

.form-error {
  display: none;
  color: red;
  font-size: 18px;
}

.submit-button {
  padding: 25px;
  border-radius: 20px;
  background-color: #bf1f3c;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #00a1ff;
}

/* Page h1 */
.Header-text {
  text-align: center;
  margin-top: 0px;
  padding: 40px;
  font-family: Rockwell;
  font-size: 42px;
}

/* Product page women & Men */

.background-product-page {
  /*  display: grid;
  justify-content: center;
  grid-template-columns: 225px 225px 225px 225px;
  grid-template-rows: 258px 258px 258px 258px;
  padding: 93px;
  gap: 100px;*/
  background-image: url("../images/joshua-earle--87JyMb9ZfU-unsplash\ 1920x1280.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1000px;
  background-position: center;
  position: relative;
}

.Product-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 400px 400px 400px;
  gap: 75px 75px;
  padding-bottom: 75px;
}

.products {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "pic pic pic"
    "name name name"
    "price price price";
  background-color: white;
  border-radius: 10px;
}

.name {
  grid-area: name;
  font-size: 20px;
  text-align: center;
  color: #181715;
  margin-top: 0px;
}

.product-picture {
  width: 100%;
  grid-area: pic;
  max-width: 640px;
  max-height: 400px;
}

.price {
  grid-area: price;
  font-size: 18px;
  text-align: center;
  color: #181715;
  margin-top: 0px;
}

/*.products-w {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}*/

.products-w h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.products-w p {
  font-family: Arial, Helvetica, sans-serif;
}

.products-w img {
  width: 100%;
}

.add-to-cart {
  grid-column: -1/1;
  font-family: "Rockwell";
  font-size: 30px;
  border-radius: 16px;
  background-color: #bf1f3c;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
}

.add-to-cart:hover {
  background-color: #00a1ff;
}

/* Product spesific page*/

.product-details {
  display: grid;
  grid-template-columns: 450px 450px;
  justify-content: center;
  gap: 75px 75px;
  padding-bottom: 75px;
}

.lorem-ipsum {
  padding: 50px 0px;
}

.product-spesific h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.product-spesific p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.Product-spesific-picture {
  width: 100%;
}

.big-cta {
  padding: 5px 75px;
}

.cta-margin {
  margin-top: auto;
}

.price {
  text-align: center;
}

.Size-Chooser {
  position: relative;
  display: inline-block;
}

.size-dropdown {
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.size-content {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
}

.size-content option {
  color: black;
  padding: 10px 20px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15;
  font-weight: bold;
}

.size-content option:hover {
  background-color: #00a1ff;
}

.Size-Chooser:hover .size-content {
  display: block;
}

.Size-Chooser:hover .size-dropdown {
  background-color: #00a1ff;
}

/* Checkout page */

.background-checkout-page {
  display: flex;
  justify-content: center;
  padding-top: 140px;
  gap: 100px;
  background-image: url("../images/joshua-earle--87JyMb9ZfU-unsplash\ 1920x1280.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1000px;
  background-position: center;
  position: relative;
}

.logo-container {
  display: grid;
  justify-items: center;
}

.logo-container img {
  max-width: 250px;
}

.product-container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  font-weight: bolder;
  font-size: 20px;
}

.product-container img {
  grid-column: -1/1;
}

.product-container h3 {
  grid-column: 1;
  font-size: 25px;
}

.checkout-wrapper {
  display: flex;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 50px;
  margin-bottom: 109px;
}

.checkout-form {
  display: flex;
  flex-direction: column;
}

.checkout-form div {
  display: flex;
  flex-direction: column;
}

.checkout-form-input {
  padding: 10px 40px;
}

.checkout-form-input-ccv {
  padding: 15px 10px;
}

.checkout-form-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bolder;
}

.button-container {
  gap: 10px;
  margin-top: 10px;
}

.cta-color {
  background-color: darkgreen;
}

/*checkout-complete page */

.complete {
  padding-bottom: 300px;
}

.checkout-complete {
  display: grid;
  font-size: 150px;
  color: green;
  justify-items: center;
  margin-top: 10px;
}

.checkout-complete-container {
  background-color: rgba(255, 255, 255, 0.85);
}

.check-circle {
  display: grid;
  justify-content: center;
  padding: 20px;
}

.logo-container h1 {
  padding-left: 20px;
  padding-right: 20px;
}

/* Loading */

.loading {
  justify-content: center;
  border: 50px solid lightgray;
  border-top: 50px solid black;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media quarys */

@media (max-width: 1494px) {
  .Product-container {
    grid-template-columns: 400px 400px;
  }
}

@media (max-width: 1160px) {
  .Product-container {
    grid-template-columns: 400px;
  }

  .size-content {
    position: relative;
  }
}

@media (max-width: 1162px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
  }

  .logodivider {
    display: none;
  }
  .background {
    flex-wrap: wrap;
  }

  .Home-container {
    grid-template-columns: 500px;
  }

  .search-button {
    color: white;
  }

  .Search input {
    display: none;
  }
  .Search button {
    left: 0px;
    font-size: 50px;
    color: #0a1f3c;
    top: 0px;
  }
  .checkout-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .product-container {
    margin-left: 40px;
  }
}

@media (max-width: 1008px) {
  .product-details {
    grid-template-columns: 450px;
    gap: 10px;
  }
  .lorem-ipsum {
    padding: 0px;
  }
}

@media (max-width: 672px) {
  .background-product-page {
    grid-template-columns: 225px;
  }
  .logo-styling {
    width: 100%;
  }
  .product-container img {
    width: 100%;
  }

  nav {
    top: 253px;
  }
}
