/* Colors*/
colors {
  color: #181715;
  color: #efefef;
  color: #00a1ff;
  color: #0a3641;
  color: #bf1f3c;
  color: #0a1f3c;
}

@font-face {
  font-family: "Rockwell";
  src: url(../Fonts/ROCK.TTF);
}

Html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
}

h2,
h3,
p {
  font-family: Arial, Helvetica, sans-serif;
}

/* Header and footer */
.resize {
  max-width: 300px;
  max-height: 140px;
}

nav {
  color: white;
}

header {
  display: flex;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-top: 40px;
}

header,
footer {
  background-color: #bf1f3c;
  color: #0a1f3c;
}

footer {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px 25px;
  font-size: 25px;
  font-family: Arial;
  font-weight: bolder;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: #00a1ff;
}

.logodivider {
  width: 2px;
  height: 80px;
  background-color: white;
  margin-left: 20px;
  margin-top: 30px;
}

.logo {
  display: flex;
}

.homeicon {
  font-size: 50px;
  color: white;
  padding-left: 25px;
}

.homeicon:hover {
  color: #00a1ff;
}

.search-button:hover {
  color: #00a1ff;
}

.cart {
  font-size: 50px;
  color: white;
}

.cart:hover {
  color: #00a1ff;
}

.cart-pos {
  margin-right: 40px;
}

.header-h1 {
  text-align: center;
  font-family: "Rockwell";
  font-size: 60px;
  margin: 0px;
  padding-top: 50px;
  color: #0a1f3c;
}

/* background of the page */

.background {
  background-image: url("../images/joshua-earle--87JyMb9ZfU-unsplash\ 1920x1280.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1000px;
  background-position: center;
  position: relative;
}

/* main content */

.Home-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 150px;
}

.products-text {
  text-decoration: none;
}

.product-pic-home {
  width: 100%;
  max-height: 400px;
}

.product-pic-home-w {
  width: 100%;
}

.products h2 {
  display: flex;
  justify-content: center;
  font-family: "Rockwell";
  text-decoration: none;
  color: #bf1f3c;
  font-size: 35px;
}
/* styling search bar */
.Search input {
  width: 500px;
  height: 50px;
  border-radius: 15px;
  border: 2px;
  padding-left: 20px;
}

.Search {
  border: 2px black;
}

.Search button {
  background-color: transparent;
  color: #0a1f3c;
  position: relative;
  top: 10px;
  left: -61px;
  font-size: 30px;
  border: 20px;
  cursor: pointer;
}

/* Contact page & About page */

.logo-styling {
  display: flex;
  justify-content: center;
  max-width: 500px;
}

.h1-styling {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #0a3641;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  max-width: 500px;
}

ul li {
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.p-styling {
  display: flex;
  justify-content: center;
  max-width: 500px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bolder;
}

/* Product page women & Men */

.background-product-page {
  display: grid;
  justify-content: center;
  grid-template-columns: 225px 225px 225px 225px;
  grid-template-rows: 258px 258px 258px 258px;
  padding: 93px;
  gap: 100px;
  background-image: url("../images/joshua-earle--87JyMb9ZfU-unsplash\ 1920x1280.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1000px;
  background-position: center;
  position: relative;
}

.products-w {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.products-w h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.products-w p {
  font-family: Arial, Helvetica, sans-serif;
}

.products-w img {
  grid-column: -1/1;
  width: 100%;
}

.add-to-cart {
  grid-column: -1/1;
  font-family: "Rockwell";
  font-size: 30px;
  border-radius: 16px;
  background-color: #bf1f3c;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
}

.add-to-cart:hover {
  background-color: #00a1ff;
}

/* Product spesific page*/

.background-product-spesific {
  display: grid;
  justify-content: center;
  grid-template-columns: 450px 328px 200px;
  grid-template-rows: 450px;
  padding-top: 140px;
  gap: 50px;
  background-image: url("../images/joshua-earle--87JyMb9ZfU-unsplash\ 1920x1280.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1000px;
  background-position: center;
  position: relative;
}

.product-spesific h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.product-spesific p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.big-cta {
  padding: 5px 75px;
}

.cta-margin {
  margin-top: auto;
}

.price {
  text-align: center;
}

.Size-Chooser {
  position: relative;
  display: inline-block;
}

.size-dropdown {
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.size-content {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
}

.size-content option {
  color: black;
  padding: 10px 20px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15;
  font-weight: bold;
}

.size-content option:hover {
  background-color: #00a1ff;
}

.Size-Chooser:hover .size-content {
  display: block;
}

.Size-Chooser:hover .size-dropdown {
  background-color: #00a1ff;
}

/* Checkout page */

.background-checkout-page {
  display: flex;
  justify-content: center;
  padding-top: 140px;
  gap: 100px;
  background-image: url("../images/joshua-earle--87JyMb9ZfU-unsplash\ 1920x1280.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1000px;
  background-position: center;
  position: relative;
}

.logo-container {
  display: grid;
  justify-items: center;
}

.logo-container img {
  max-width: 250px;
}

.product-container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  font-weight: bolder;
  font-size: 20px;
}

.product-container img {
  grid-column: -1/1;
}

.product-container h3 {
  grid-column: 1;
  font-size: 25px;
}

.checkout-wrapper {
  display: flex;
  gap: 50px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 50px;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.checkout-form div {
  display: flex;
  flex-direction: column;
}

.checkout-form-input {
  padding: 10px 40px;
}

.checkout-form-input-ccv {
  padding: 15px 10px;
}

.checkout-form-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bolder;
}

.button-container {
  gap: 10px;
  margin-top: 10px;
}

.cta-color {
  background-color: darkgreen;
}

/*checkout-complete page */

.complete {
  padding-bottom: 300px;
}

.checkout-complete {
  display: grid;
  font-size: 150px;
  color: green;
  justify-items: center;
  margin-top: 10px;
}

.checkout-complete-container {
  background-color: rgba(255, 255, 255, 0.85);
}

.check-circle {
  display: grid;
  justify-content: center;
  padding: 20px;
}

.logo-container h1 {
  padding-left: 20px;
  padding-right: 20px;
}

/* Media quarys */

@media (max-width: 1494px) {
  .background-product-page {
    grid-template-columns: 225px 255px;
  }
}

@media (max-width: 1160px) {
  .background-product-spesific {
    grid-template-columns: 450px;
  }

  .size-content {
    position: relative;
  }
}

@media (max-width: 1070px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
  }

  .logodivider {
    display: none;
  }
  .background {
    flex-wrap: wrap;
  }

  .Home-container {
    flex-wrap: wrap;
  }

  .search-button {
    color: white;
  }

  .Search input {
    display: none;
  }
  .Search button {
    left: 0px;
    font-size: 50px;
    color: #0a1f3c;
    top: 0px;
  }
  .checkout-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .product-container {
    margin-left: 40px;
  }
}

@media (max-width: 620px) {
  .background-product-page {
    grid-template-columns: 225px;
  }
  .logo-styling {
    width: 100%;
  }
  .product-container img {
    width: 100%;
  }
}
